.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.slider_catalog {
    flex-wrap: wrap;
    justify-content: space-between;
}