.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination__item {
    @include font (2.0rem, 2.3rem, $color-text-button);
    letter-spacing: 0.06em;
    margin: 0 10px 0 10px;
}

.pagination_pre {
    border-color: $color-menu;
    color: $color-menu;
    pointer-events: none;

}